#PATHS
DB_PATH_HOST=
DB_PATH_CONTAINER=
APP_HOME_DIR=
JENKINS_HOME_DIR=
JENKINS_PATH_HOST=

#DB_CONFIG
MYSQL_PASSWORD=
MYSQL_DB_NAME=

DO_NAME=

#PORTS
APP_PORT=
DB_PORT=
JENKINS_CONNECT_PORT=
JENKINS_PORT=